:root{
    --primary-color-1: #1C519D;
    --primary-color-2: #189DEA;
    --second-color-1: #252434;
    --second-color-2: #1D1B29;

    --neutre-color-1: #F4F4F4;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 4px 8% 4px 8%;
    background-color: #1C519D;
}

header .btn-default:hover{
    background-color: #fff;
}

header .btn-default a:hover {
    color: var(--primary-color-2);
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo{
    width: 150px;
    height: auto;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: border-bottom, 0.3s ease;
}

.nav-item.active a{
    color: #fff;
    font-weight: bold;
    border-bottom: 3px solid var(--primary-color-2);
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

@media screen and (max-width: 1170px) {

    #nav_list, #navbar .btn-default{
        display: none;
    }

    #mobile_menu > .btn-default {
        margin-bottom: 5%;
    }
    
    #mobile_btn{
        display: block;
        border: none;
        color: #fff;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        transition: color, 0.3 ease;
    }

    #mobile_btn:hover{
        color: var(--second-color-2);
    }

    #mobile_menu > .btn-default {
        color: #fff;
    }

    #mobile_menu > .btn-default:hover {
        color: var(--primary-color-2);
    }
    

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_menu.active .nav-item{
        list-style: none;
        text-align: center;
    }
}