:root{
    --primary-color-1: #3CE6F5;
    --primary-color-2: #28D5F0;
    --second-color-1: #252434;
    --second-color-2: #1D1B29;

    --neutre-color-1: #F4F4F4;
}

header{
    width: 100%;
    padding: 20px 8%;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo{
    width: 150px;
    height: 150px;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: var(--second-color-1);
    font-weight: 500;
    transition: border-bottom, 0.3s ease;
}

.nav-item.active a{
    color: var(--second-color-2);
    border-bottom: 3px solid var(--primary-color-2);
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list, #navbar .btn-default{
        display: none;
    }
    
    #mobile_btn{
        display: block;
        border: navajowhite;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        transition: color, 0.3 ease;
    }

    #mobile_btn:hover{
        color: var(--primary-color-1);
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_menu.active .nav-item{
        list-style: none;
        text-align: center;
    }
}