:root{
    --primary-color-1: #1C519D;
    --primary-color-2: #189DEA;
    --second-color-1: #252434;
    --second-color-2: #1D1B29;

    --neutre-color-1: #F4F4F4;
}

#home {
    display: flex;
    min-height: calc(100vh - 91px);
}

#cta {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#cta .title{
    font-size: 3.5rem;
    color: var(--primary-color-1);
}

#cta .description {
    font-size: 1.3rem;
}

#cta .description > span{
    font-weight: bold;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

.social-media-buttons i {
    color: #fff;
}

#cta_buttons a{
    text-decoration: none;
    color: #fff;
}

#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
}

#banner img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border-right: 15px solid var(--primary-color-2);
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner{
        display: none;
    }

    #cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    #cta .title {
        margin-top: 2%;
        font-size: 2.5rem;
    }

}
